<?xml version="1.0"?>
<robot name="arm_22" xmlns:xacro="http://ros.org/wiki/xacro">


  <gazebo>
    <plugin filename="libgazebo_ros_control.so" name="gazebo_ros_control">
      <robotNamespace>/dualarm</robotNamespace>
    </plugin>
  </gazebo>

  <xacro:include filename="$(find dualarm_config)/urdf/arm_2.xacro"/>

  <link name="2_world" />

  <joint name="2_world_joint" type="fixed">
    <paranet link="2_world"/>
    <child link="mani2_base"/>
    <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
  </joint>
</robot>
