<?xml version="1.0"?>
<robot name="arm_11" xmlns:xacro="http://ros.org/wiki/xacro">


  <gazebo>
    <plugin filename="libgazebo_ros_control.so" name="gazebo_ros_control">
      <robotNamespace>/</robotNamespace>
    </plugin>
  </gazebo>

  <xacro:include filename="$(find dualarm_config)/urdf/arm_1.xacro"/>


  <link name="1_world" />

  <joint name="1_world_joint" type="fixed">
    <paranet link="1_world"/>
    <child link="mani1_base"/>
    <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
  </joint>
</robot>
