<?xml version="1.0"?>
<robot name="dual_arm_test" xmlns:xacro="http://ros.org/wiki/xacro">
  <xacro:include filename="$(find dualarm_config)/urdf/arm_11.xacro"/>
  <xacro:include filename="$(find dualarm_config)/urdf/arm_22.xacro"/>

  

  <link name="dual_world"/>

  <joint name="dual_world" type="fixed">
    <paranet link="dual_world"/>
    <child link="dual_base_link"/>
  </joint>

  <link name="dual_base_link" />

  <link name="mobile">
    <inertial>
      <origin
        xyz="0.32 0.225 0.1" 
        rpy="0 0 0" />
      <mass
        value="100" />
      <inertia
        ixx="8.41666666666667"
        ixy="9.71445146547012E-16"
        ixz="-1.38777878078145E-17"
        iyy="8.41666666666666"
        iyz="9.25185853854297E-18"
        izz="16.6666666666667" />
    </inertial>
    <visual>
      <origin
        xyz="-0.32 -0.225 0" rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://dualarm_config/meshes/base.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.792156862745098 0.819607843137255 0.933333333333333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://dualarm_config/meshes/base.STL" />
      </geometry>
    </collision>
  </link>

  <joint name="dual_base_joint" type="fixed">
    <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
    <parent link="dual_base_link"/>
    <child link="mobile"/>
  </joint>

  <joint name="1_robot_body" type="fixed">
    <paranet link="mobile"/>
    <child link="1_world"/>
    <origin xyz="0.230 0.0 0.376" rpy="0.0 0.0 0.0"/>
  </joint>
  <joint name="2_robot_body" type="fixed">
    <paranet link="mobile"/>
    <child link="2_world"/>
    <origin xyz="-0.230 0.0 0.364" rpy="0.0 0.0 0.0"/>
  </joint>



</robot>