<?xml version='1.0'?>
<robot name="mobile_platform_description_v1"  xmlns:xacro="http://www.ros.org/wiki/xacro">
  <xacro:include filename="$(find mobile_platform_description)/urdf/mobile_platform_v1.gazebo" />
  <xacro:include filename="$(find mobile_platform_description)/urdf/common_properties.urdf.xacro" />
  <xacro:property name="PI" value="3.1415926535897931"/>
  <xacro:arg name="gpu" default="false"/>
  <xacro:property name="gpu" value="$(arg gpu)" />
  <!-- Chassis -->
  <link name="base_footprint"/>
  <link name="base_link">
    <inertial>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <mass value="10.2312244818196" />
      <inertia
        ixx="10.967053548924663"
        ixy="0"
        ixz="0"
        iyy="10.30612724440363"
        iyz="0"
        izz="10.962964405480844" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh filename="package://mobile_platform_description/meshes/base_link.STL" />
      </geometry>
        <color rgba="0.666666666666667 0.694117647058824 0.764705882352941 1" />
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh filename="package://mobile_platform_description/meshes/base_link.STL" />
      </geometry>
    </collision>
  </link>

  <joint name="base_joint" type="fixed" >
    <parent link="base_footprint"/>
    <child link="base_link"/>
    <origin xyz="0.0 0.0 0.10" rpy="0 0 0"/>
  </joint>

  <!-- wheels -->
  <link name="br_wheel_link">
    <inertial>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <mass value="4.571565980810561" />
      <inertia
        ixx="1"
        ixy="0"
        ixz="0"
        iyy="1"
        iyz="0"
        izz="1" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh filename="package://mobile_platform_description/meshes/br_wheel_link.STL" />
      </geometry>
        <color rgba="0.792156862745098 0.819607843137255 0.933333333333333 1" />
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 1.5707 1.5707" />
      <geometry>
	<cylinder radius="0.074" length="0.079"/>
      </geometry>
    </collision>
  </link>

  <joint name="br_wheel_joint" type="fixed">
    <origin
      xyz="-0.281 -0.215 -0.020"
      rpy="0 0 0" />
    <parent
      link="base_link" />
    <child
      link="br_wheel_link" />
    <axis
      xyz="0 -1 0" />
  </joint>


  <link name="bl_wheel_link">
    <inertial>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <mass value="4.571565974939204" />
      <inertia
        ixx="1"
        ixy="0"
        ixz="0"
        iyy="1"
        iyz="0"
        izz="1" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh filename="package://mobile_platform_description/meshes/bl_wheel_link.STL" />
      </geometry>
      <material name="">
        <color rgba="0.792156862745098 0.819607843137255 0.933333333333333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 1.5707 1.5707" />
      <geometry>
	<cylinder radius="0.074" length="0.079"/>
      </geometry>
    </collision>
  </link>

  <joint name="bl_wheel_joint" type="fixed">
    <origin
      xyz="-0.281 0.215 -0.020"
      rpy="0 0 0" />
    <parent
      link="base_link" />
    <child
      link="bl_wheel_link" />
    <axis
      xyz="0 -1 0" />
  </joint>


  <link name="fr_wheel_link">
    <inertial>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <mass
        value="4.571565974847631" />
      <inertia
        ixx="1"
        ixy="0"
        ixz="0"
        iyy="1"
        iyz="0"
        izz="1" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh filename="package://mobile_platform_description/meshes/fr_wheel_link.STL" />
      </geometry>
      <material name="">
        <color rgba="0.792156862745098 0.819607843137255 0.933333333333333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 1.5707 1.5707" />
      <geometry>
	<cylinder radius="0.074" length="0.079"/>
      </geometry>
    </collision>
  </link>


  <joint name="fr_wheel_joint"
    type="fixed">
    <origin
      xyz="0.281 -0.215 -0.020"
      rpy="0 0 0" />
    <parent
      link="base_link" />
    <child
      link="fr_wheel_link" />
    <axis
      xyz="0 -1 0" />
  </joint>

  <link name="fl_wheel_link">
    <inertial>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <mass
        value="4.571565975000551" />
      <inertia
        ixx="1"
        ixy="0"
        ixz="0"
        iyy="1"
        iyz="0"
        izz="1" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://mobile_platform_description/meshes/fl_wheel_link.STL" />
      </geometry>
      <material name="">
        <color rgba="0.792156862745098 0.819607843137255 0.933333333333333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 1.5707 1.5707" />
      <geometry>
	<cylinder radius="0.074" length="0.079"/>
      </geometry>
    </collision>
  </link>

  <joint name="fl_wheel_joint" type="fixed">
    <origin
      xyz="0.281 0.215 -0.020"
      rpy="0 0 0" />
    <parent
      link="base_link" />
    <child
      link="fl_wheel_link" />
    <axis
      xyz="0 -1 0" />
  </joint>


  <!-- IMU sensor -->
  <joint name="imu_joint" type="fixed">
    <parent link="base_link"/>
    <child link="imu_link"/>
    <origin xyz="0 0 0" rpy="90 0 0"/>
  </joint>

  <link name="imu_link">
   <inertial>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <mass
        value="0.010" />
      <inertia
        ixx="1"
        ixy="0"
        ixz="0"
        iyy="1"
        iyz="0"
        izz="1" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
	<box size="0.01 0.01 0.01"/>
      </geometry>
      <material name="">
        <color rgba="0.792156862745098 0.819607843137255 0.933333333333333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 1.5707 1.5707" />
      <geometry>
	<box size="0.05 0.05 0.05"/>
      </geometry>
    </collision>
  </link>

  <!-- Velodyne sensor -->
  <xacro:include filename="$(find velodyne_description)/urdf/VLP-16.urdf.xacro"/>
  <VLP-16 parent="base_link" name="velodyne" topic="/velodyne_points" hz="10" samples="440" gpu="${gpu}">
    <origin xyz="0 0 0.55" rpy="0 0 0" />
  </VLP-16>

    <!-- Front sonar sensor -->
    <link name="base_sonar_front">
        <inertial>
            <mass value="0.001" />
            <origin xyz="0 0 0" rpy="0 0 0" />
            <inertia ixx="0.000000017" ixy="0.0" ixz="0.0" iyy="0.000000017" iyz="0.0" izz="0.000000017"/>
        </inertial>
        <visual>
            <origin xyz="0 0 0" rpy="0 0 0" />
            <geometry>
                <mesh filename="package://mobile_platform_description/meshes/sensors/max_sonar_ez4.dae"/>
            </geometry>
        </visual>
        <collision>
            <origin xyz="0 0 0" rpy="0 0 0" />
            <geometry>
                <box size="0.01 0.01 0.01" />
            </geometry>
        </collision>
    </link>

    <joint name="sonar_front_sensor_joint" type="fixed">
        <parent link="base_link"/>
        <child link="base_sonar_front"/>
        <origin xyz="0.41 0 0.095" rpy="0 0 0"/>
    </joint>

    <!-- Rear sonar sensor -->
    <link name="base_sonar_rear">
        <inertial>
            <mass value="0.001" />
            <origin xyz="0 0 0" rpy="0 0 0" />
            <inertia ixx="0.000000017" ixy="0.0" ixz="0.0" iyy="0.000000017" iyz="0.0" izz="0.000000017"/>
        </inertial>
        <visual>
            <origin xyz="0 0 0" rpy="0 0 0" />
            <geometry>
                <mesh filename="package://mobile_platform_description/meshes/sensors/max_sonar_ez4.dae"/>
            </geometry>
        </visual>
        <collision>
            <origin xyz="0 0 0" rpy="0 0 0" />
            <geometry>
                <box size="0.01 0.01 0.01" />
            </geometry>
        </collision>
    </link>
    <joint name="sonar_rear_sensor_joint" type="fixed">
        <parent link="base_link"/>
        <child link="base_sonar_rear"/>
        <origin xyz="-0.41 0 0.095" rpy="0 0 3.1415926535897931"/>
    </joint>

    <!-- Left sonar sensor -->
    <link name="base_sonar_left">
        <inertial>
            <mass value="0.001" />
            <origin xyz="0 0 0" rpy="0 0 0" />
            <inertia ixx="0.000000017" ixy="0.0" ixz="0.0" iyy="0.000000017" iyz="0.0" izz="0.000000017"/>
        </inertial>
        <visual>
            <origin xyz="0 0 0" rpy="0 0 0" />
            <geometry>
                <mesh filename="package://mobile_platform_description/meshes/sensors/max_sonar_ez4.dae"/>
            </geometry>
        </visual>
        <collision>
            <origin xyz="0 0 0" rpy="0 0 0" />
            <geometry>
                <box size="0.01 0.01 0.01" />
            </geometry>
        </collision>
    </link>
    <joint name="sonar_left_sensor_joint" type="fixed">
        <parent link="base_link"/>
        <child link="base_sonar_left"/>
        <origin xyz="0 0.297 0.095" rpy="0 0 1.57079632679"/>
    </joint>

    <!-- Right sonar sensor -->
    <link name="base_sonar_right">
        <inertial>
            <mass value="0.001" />
            <origin xyz="0 0 0" rpy="0 0 0" />
            <inertia ixx="0.000000017" ixy="0.0" ixz="0.0" iyy="0.000000017" iyz="0.0" izz="0.000000017"/>
        </inertial>
        <visual>
            <origin xyz="0 0 0" rpy="0 0 0" />
            <geometry>
                <mesh filename="package://mobile_platform_description/meshes/sensors/max_sonar_ez4.dae"/>
            </geometry>
        </visual>
        <collision>
            <origin xyz="0 0 0" rpy="0 0 0" />
            <geometry>
                <box size="0.01 0.01 0.01" />
            </geometry>
        </collision>
    </link>
    <joint name="sonar_right_sensor_joint" type="fixed">
        <parent link="base_link"/>
        <child link="base_sonar_right"/>
        <origin xyz="0 -0.297 0.095" rpy="0 0 -1.57079632679"/>
    </joint>
</robot>
